In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('glcm_features.csv')

In [3]:
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f104,f105,f106,f107,f108,f109,f110,f111,f112,f113
0,855.075578,1225.902047,800.029369,1455.361705,2016.892686,2693.172884,1823.413386,3220.284432,3150.173934,4096.044705,...,180.100257,189.058879,171.553790,179.369714,171.498272,184.868863,164.062156,173.088651,163.949141,1
1,818.771048,1194.183644,785.650681,1363.445104,1891.663576,2626.003354,1770.862652,3033.280671,2947.016122,3958.439477,...,197.317063,209.642527,186.332811,196.376198,186.483929,204.246484,177.035268,188.335459,176.802445,1
2,829.117627,1179.639684,692.733694,1264.851195,1924.729588,2600.462017,1555.661800,2778.272546,2994.553201,3916.628499,...,224.539668,234.718265,214.653000,224.075431,214.407557,230.368777,205.921469,216.306011,205.522321,1
3,771.824350,1092.449152,672.744698,1213.142018,1806.234555,2422.628297,1523.732260,2704.986435,2817.989583,3654.176919,...,194.595716,205.534769,185.312788,193.053976,185.044869,201.082637,177.116494,186.195113,176.669931,1
4,831.486818,1207.750881,786.286514,1362.346071,1926.926764,2680.297032,1785.192868,3027.755188,3005.846186,4059.329071,...,194.114597,205.482629,182.877604,192.121630,183.023798,200.835405,174.034003,184.476025,173.830251,1

In [7]:
y = df[['f113']]
X = df.drop('f113', axis=1)

In [8]:
X.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f103,f104,f105,f106,f107,f108,f109,f110,f111,f112
0,855.075578,1225.902047,800.029369,1455.361705,2016.892686,2693.172884,1823.413386,3220.284432,3150.173934,4096.044705,...,187.182296,180.100257,189.058879,171.553790,179.369714,171.498272,184.868863,164.062156,173.088651,163.949141
1,818.771048,1194.183644,785.650681,1363.445104,1891.663576,2626.003354,1770.862652,3033.280671,2947.016122,3958.439477,...,205.399677,197.317063,209.642527,186.332811,196.376198,186.483929,204.246484,177.035268,188.335459,176.802445
2,829.117627,1179.639684,692.733694,1264.851195,1924.729588,2600.462017,1555.661800,2778.272546,2994.553201,3916.628499,...,232.826402,224.539668,234.718265,214.653000,224.075431,214.407557,230.368777,205.921469,216.306011,205.522321
3,771.824350,1092.449152,672.744698,1213.142018,1806.234555,2422.628297,1523.732260,2704.986435,2817.989583,3654.176919,...,201.399154,194.595716,205.534769,185.312788,193.053976,185.044869,201.082637,177.116494,186.195113,176.669931
4,831.486818,1207.750881,786.286514,1362.346071,1926.926764,2680.297032,1785.192868,3027.755188,3005.846186,4059.329071,...,201.671531,194.114597,205.482629,182.877604,192.121630,183.023798,200.835405,174.034003,184.476025,173.830251

In [9]:
y.head()

   f113
0     1
1     1
2     1
3     1
4     1

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 25, shuffle = True)

In [12]:
from  sklearn.neural_network import MLPClassifier

In [27]:
#s = (100,100,10)

In [97]:
mlp_c = MLPClassifier(hidden_layer_sizes=(58), activation='logistic', solver='sgd', alpha=0.001, learning_rate_init=0.0001, max_iter=1000, verbose=False)

In [98]:
mlp_c.fit(X_train,y_train)

C:\Users\Aman Sharif\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='logistic', alpha=0.001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=58, learning_rate='constant',
       learning_rate_init=0.0001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='sgd', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [99]:
mlp_c.score(X_test,y_test)

0.633457249070632

In [ ]:
mlp